force-app/main/default/flows/Matter_after_create_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_A00_Initial_Client_Call_DMT_for_WC_Attorney_Team</name>
        <label>Create A00: Initial Client Call DMT for WC Attorney Team</label>
        <locationX>242</locationX>
        <locationY>8579</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a04TV000002nNn7YAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>owner_id</name>
            <value>
                <elementReference>Get_WC_Attorney_Team_Queue.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_AR00</name>
        <label>Create Task AR00</label>
        <locationX>242</locationX>
        <locationY>4547</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_AR10</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164GuKQAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_AR10</name>
        <label>Create Task AR10</label>
        <locationX>242</locationX>
        <locationY>4655</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_AR15</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164GuMQAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_AR15</name>
        <label>Create Task AR15</label>
        <locationX>242</locationX>
        <locationY>4763</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Task_AR20</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E00001BUOS6QAP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_AR20</name>
        <label>Create Task AR20</label>
        <locationX>242</locationX>
        <locationY>4871</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Active_Stage_is_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164GuNQAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_NA20</name>
        <label>Create Task NA20</label>
        <locationX>242</locationX>
        <locationY>3647</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NA25_Case_Controverted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a04TV000001rkQjYAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_NA25</name>
        <label>Create Task NA25</label>
        <locationX>242</locationX>
        <locationY>3947</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S80_32_4_EC_88</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a04TV000001rkSLYAY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_NC01</name>
        <label>Create Task NC01</label>
        <locationX>242</locationX>
        <locationY>1439</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>RFA_Date_change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164Gpb</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>owner_id</name>
            <value>
                <elementReference>$Record.litify_pm__Primary_Intake__r.Intake_Done_By__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_NC02</name>
        <label>Create Task NC02</label>
        <locationX>242</locationX>
        <locationY>1139</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NC01_Send_Substitution_Letter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164Gpc</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>owner_id</name>
            <value>
                <elementReference>$Record.litify_pm__Primary_Intake__r.Intake_Done_By__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_NC10</name>
        <label>Create Task NC10</label>
        <locationX>242</locationX>
        <locationY>3347</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NA20_Case_Accepted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164GuEQAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>start_date</name>
            <value>
                <elementReference>$Record.Indexing_FROI_02__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_P01_Permanency_Review</name>
        <label>Create Task P01: Permanency – Review</label>
        <locationX>242</locationX>
        <locationY>2339</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S75_S32_Hearing_Set_Stip_Implemented</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164HfYQAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUpdate</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>start_date</name>
            <value>
                <elementReference>$Record.SLU_Permanency__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Create Task P35: Review EC-81.7</description>
        <name>Create_Task_P35</name>
        <label>Create Task P35</label>
        <locationX>242</locationX>
        <locationY>3047</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NC10_NC15_Check_case_Assembly</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <elementReference>Get_P35_Review_EC_81_7_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>start_date</name>
            <value>
                <elementReference>$Record.X81_7__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_PL45</name>
        <label>Create Task PL45</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PL57_Taxi_Request_Tax_Returns</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164Gq4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_PL57</name>
        <label>Create Task PL57</label>
        <locationX>242</locationX>
        <locationY>839</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NC02_Send_Attorney_Referral_Letter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164Gq9QAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_RFA</name>
        <label>Create Task RFA</label>
        <locationX>242</locationX>
        <locationY>1739</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_RFA_Date_change</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E0000164Hg0QAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>owner_id</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_RFA_dormant</name>
        <label>Create Task RFA (Dormant)</label>
        <locationX>242</locationX>
        <locationY>2039</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>P01_P00</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a04TV000000Rr71YAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>owner_id</name>
            <value>
                <elementReference>$Record.litify_pm__Principal_Attorney__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>start_date</name>
            <value>
                <elementReference>$Record.RFA1_Hearing_PD__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_S75</name>
        <label>Create Task S75</label>
        <locationX>242</locationX>
        <locationY>2639</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>S00_Check_IME</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E000017VZ6EQAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>start_date</name>
            <value>
                <elementReference>$Record.RFA_S32_Stip__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_S80</name>
        <label>Create Task S80</label>
        <locationX>242</locationX>
        <locationY>4247</locationY>
        <actionName>CreateTaskFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>WC_PI_Dormant_outcome_true</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>default_task_Id</name>
            <value>
                <stringValue>a042E00001BpLDvQAN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTaskFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Switch_Matter_Plan_0</name>
        <label>Switch Matter Plan</label>
        <locationX>242</locationX>
        <locationY>6071</locationY>
        <actionName>MatterPlanSwitchFromProcess</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wrongful_Death_SOL</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isCloseTasks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matter_plan_id</name>
            <value>
                <stringValue>a0F2E00000rsT0oUAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>matterTeamId</name>
            <value>
                <stringValue>a052E00000TdnC8</stringValue>
            </value>
        </inputParameters>
        <nameSegment>MatterPlanSwitchFromProcess</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Active_Stage_is_Changed</name>
        <label>Active Stage is Changed</label>
        <locationX>374</locationX>
        <locationY>5063</locationY>
        <defaultConnector>
            <targetReference>WC_Case_Active_Stage_Closing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Stage_is_Changed_true</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Injury</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Civil Rights</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Plan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SH PI SETTLEMENT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dropped Case Matter Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Plan__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subbed Case Matter Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_to_N_A_AS</targetReference>
            </connector>
            <label>Active Stage is Changed - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Run_Trigger</name>
        <label>Check Run Trigger</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>PL45_C_E_Request_Package</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Run_Trigger_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.litify_pm__Public_Setup__c.litify_pm__Run_Triggers__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Check Run Trigger - false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Civil_Rights_SOL</name>
        <label>Civil Rights SOL</label>
        <locationX>374</locationX>
        <locationY>6563</locationY>
        <defaultConnector>
            <targetReference>NOC_Statute_of_Limitations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Civil_Rights_SOL_true</name>
            <conditionLogic>((1 OR 2) AND 3 AND 4 ) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Incident_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Incident_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Civil Rights</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOL_Based_On__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOL_CR</targetReference>
            </connector>
            <label>Civil Rights SOL - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_RFA_Date_change</name>
        <label>RFA Date change (Dormant)</label>
        <locationX>374</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>P01_P00</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RFA_Date_change_dormant_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFA1_Hearing_PD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFA1_Hearing_PD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dormant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_RFA_dormant</targetReference>
            </connector>
            <label>RFA Date change (dormant) - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matter_Stage_Changed</name>
        <label>Matter Stage Changed</label>
        <locationX>374</locationX>
        <locationY>5663</locationY>
        <defaultConnector>
            <targetReference>Switch_Matter_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matter_Stage_Changed_true</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Stage_Activity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Stage_Activity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Plan__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Date</targetReference>
            </connector>
            <label>Matter Stage Changed - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>NA20_Case_Accepted</name>
        <label>NA20: Case Accepted</label>
        <locationX>374</locationX>
        <locationY>3539</locationY>
        <defaultConnector>
            <targetReference>NA25_Case_Controverted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NA20_Case_Accepted_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Accepted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Accepted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_NA20</targetReference>
            </connector>
            <label>NA20: Case Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>NA25_Case_Controverted</name>
        <label>NA25: Case Controverted</label>
        <locationX>374</locationX>
        <locationY>3839</locationY>
        <defaultConnector>
            <targetReference>S80_32_4_EC_88</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NA25_Case_Controverted_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Controverted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_Controverted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_NA25</targetReference>
            </connector>
            <label>NA25: Case Controverted</label>
        </rules>
    </decisions>
    <decisions>
        <name>NC01_Send_Substitution_Letter</name>
        <label>NC01: Send Substitution Letter</label>
        <locationX>374</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>RFA_Date_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NC01_Send_Substitution_Letter_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Substitution_Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_NC01</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>NC01: Send Substitution Letter - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>NC02_Send_Attorney_Referral_Letter</name>
        <label>NC02: Send Attorney Referral Letter</label>
        <locationX>374</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>NC01_Send_Substitution_Letter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NC02_Send_Attorney_Referral_Letter_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SSD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__r.litify_pm__Source_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attorney Referral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Referral__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Client__r.Blanket_Referral_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_NC02</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>NC02: Send Attorney Referral Letter - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>NC10_NC15_Check_case_Assembly</name>
        <label>NC10 &amp; NC15: Check case Assembly</label>
        <locationX>374</locationX>
        <locationY>3239</locationY>
        <defaultConnector>
            <targetReference>NA20_Case_Accepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NC10_NC15_Check_case_Assembly_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Indexing_FROI_02__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Indexing_FROI_02__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_NC10</targetReference>
            </connector>
            <label>NC10 &amp; NC15: Check case Assembly - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Case</name>
        <label>New Case?</label>
        <locationX>374</locationX>
        <locationY>8063</locationY>
        <defaultConnector>
            <targetReference>New_WC_Matter_not_Referred_by_Current_Client_Old_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Client__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Client__r.litify_pm__Phone_Mobile__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opt_In</targetReference>
            </connector>
            <label>New Client</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_PI_CR_desc</name>
        <label>New PI/CR?</label>
        <locationX>374</locationX>
        <locationY>7763</locationY>
        <defaultConnector>
            <targetReference>New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_PI_CR</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Injury</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Civil Rights</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contingency_Fee_Rate</targetReference>
            </connector>
            <label>Yes - New PI/CR?</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_WC_Matter_not_Referred_by_Current_Client_Old_Case</name>
        <label>New WC Matter &amp; not Referred by Current Client, Old Case</label>
        <locationX>374</locationX>
        <locationY>8363</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_WC_not_Referred_By_Current_Client_Old_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Referred_By__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Current Client, Old Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_WC_Attorney_Team_Queue</targetReference>
            </connector>
            <label>New WC, not Referred By Current Client, Old Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>NOC_Statute_of_Limitations</name>
        <label>NOC – Statute of Limitations</label>
        <locationX>374</locationX>
        <locationY>6863</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOC_Statute_of_Limitations_true</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Incident_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NOTICE_OF_CLAIM_NEEDED__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Incident_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NOTICE_OF_CLAIM_NEEDED__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOL2</targetReference>
            </connector>
            <label>NOC – Statute of Limitations - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>P01_P00</name>
        <label>P01/P00</label>
        <locationX>374</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>S75_S32_Hearing_Set_Stip_Implemented</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>P01_P00_true</name>
            <conditionLogic>(1 AND 3) OR (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLU_Permanency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLU_Permanency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_P01_Permanency_Review</targetReference>
            </connector>
            <label>P01/P00 - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>PL45_C_E_Request_Package</name>
        <label>PL45: C/E - Request Package</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>PL57_Taxi_Request_Tax_Returns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PL45_C_E_Request_Package_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Concurrent_Employer_Name_s__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_PL45</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PL45: C/E - Request Package - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>PL57_Taxi_Request_Tax_Returns</name>
        <label>PL57: Taxi – Request Tax Returns</label>
        <locationX>374</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>NC02_Send_Attorney_Referral_Letter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PL57_Taxi_Request_Tax_Returns_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Taxi_Driver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_PL57</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>PL57: Taxi – Request Tax Returns - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>RFA_Date_change</name>
        <label>RFA Date change</label>
        <locationX>374</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_RFA_Date_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RFA_Date_change_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RFA1_Hearing_PD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFA1_Hearing_PD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dormant__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_RFA</targetReference>
            </connector>
            <label>RFA Date change - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>S00_Check_IME</name>
        <label>S00: Check IME</label>
        <locationX>374</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>NC10_NC15_Check_case_Assembly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S00_Check_IME_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X81_7__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X81_7__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_P35_Review_EC_81_7_Record</targetReference>
            </connector>
            <label>S00: Check IME - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>S75_S32_Hearing_Set_Stip_Implemented</name>
        <label>S75: S32 Hearing Set / Stip Implemented</label>
        <locationX>374</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>S00_Check_IME</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S75_S32_Hearing_Set_Stip_Implemented_true</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFA_S32_Stip__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RFA_S32_Stip__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_S75</targetReference>
            </connector>
            <label>S75: S32 Hearing Set / Stip Implemented - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>S80_32_4_EC_88</name>
        <label>S80: 32.4/EC-88</label>
        <locationX>374</locationX>
        <locationY>4139</locationY>
        <defaultConnector>
            <targetReference>WC_PI_Dormant_outcome_true</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>S80_32_4_EC_88_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X32_4_EC88__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_S80</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>S80: 32.4/EC-88 - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch_Matter_Plan</name>
        <label>Switch Matter Plan</label>
        <locationX>374</locationX>
        <locationY>5963</locationY>
        <defaultConnector>
            <targetReference>Wrongful_Death_SOL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_Matter_Plan_true</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Personal Injury</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Civil Rights</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switch_Matter_Plan_0</targetReference>
            </connector>
            <label>Switch Matter Plan - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Case_Number</name>
        <label>Update Case Number</label>
        <locationX>374</locationX>
        <locationY>7163</locationY>
        <defaultConnector>
            <targetReference>Update_Principal_Attorney_on_Child_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Case_Number_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_Matter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Case</targetReference>
            </connector>
            <label>Update Case Number - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Principal_Attorney_on_Child_Cases</name>
        <label>Update Principal Attorney on Child Cases</label>
        <locationX>374</locationX>
        <locationY>7463</locationY>
        <defaultConnector>
            <targetReference>New_PI_CR_desc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Principal_Attorney_on_Child_Cases_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Principal_Attorney__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MULTIPLE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Cases</targetReference>
            </connector>
            <label>Update Principal Attorney on Child Cases - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>WC_Case_Active_Stage_Closing</name>
        <label>WC Case - Active Stage = Closing</label>
        <locationX>374</locationX>
        <locationY>5363</locationY>
        <defaultConnector>
            <targetReference>Matter_Stage_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WC_Case_Active_Stage_Closing_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.litify_pm__Matter_Stage_Activity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Status_to_N_A_WC</targetReference>
            </connector>
            <label>WC Case - Active Stage = Closing - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>WC_PI_Dormant_outcome_true</name>
        <label>WC/PI Dormant - true</label>
        <locationX>374</locationX>
        <locationY>4439</locationY>
        <defaultConnector>
            <targetReference>Active_Stage_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WC_PI_Dormant_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dormant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Worker Compensation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.S_H_Case_Classification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WC &amp; PI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_Matter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_AR00</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>WC/PI Dormant - true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wrongful_Death_SOL</name>
        <label>Wrongful Death SOL</label>
        <locationX>374</locationX>
        <locationY>6263</locationY>
        <defaultConnector>
            <targetReference>Civil_Rights_SOL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrongful_Death_SOL_true</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR (5 AND 6)) AND 7 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Incident_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrongful Death</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Primary_Intake__r.Sub_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrongful Death</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Incident_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.litify_pm__Manual_Statute_of_Limitations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOL_WD</targetReference>
            </connector>
            <label>Wrongful Death SOL - true</label>
        </rules>
    </decisions>
    <description>20250707 - Updated Create Task S00 to Create Task P35
DS Version: updated task for Case Accepted/Controverted
v14- 2404-70424 - WC Attorney Task Queue: Initial Client Call</description>
    <environments>Default</environments>
    <formulas>
        <name>f_date_SOL2</name>
        <dataType>Date</dataType>
        <expression>{!$Record.litify_pm__Incident_date__c} + 90</expression>
    </formulas>
    <formulas>
        <name>f_date_SOL_CR</name>
        <dataType>Date</dataType>
        <expression>CASE(
    TEXT({!$Record.SOL_Based_On__c}),
    &quot;1 Year 90 days from Dismissal&quot;, 
        DATE(
            YEAR({!$Record.Date_of_Dismissal__c}) + 1,
            MONTH({!$Record.Date_of_Dismissal__c}),
            DAY({!$Record.Date_of_Dismissal__c})
        ) + 90,
    &quot;1 Year 90 days from Arrest&quot;, 
        DATE(
            YEAR({!$Record.litify_pm__Incident_date__c}) + 1,
            MONTH({!$Record.litify_pm__Incident_date__c}),
            DAY({!$Record.litify_pm__Incident_date__c})
        ) + 90,
    &quot;3 Years from Arrest&quot;, 
        DATE(
            YEAR({!$Record.litify_pm__Incident_date__c}) + 3,
            MONTH({!$Record.litify_pm__Incident_date__c}),
            DAY({!$Record.litify_pm__Incident_date__c})
        ),
    &quot;3 Years from Dismissal&quot;, 
        DATE(
            YEAR({!$Record.Date_of_Dismissal__c}) + 3,
            MONTH({!$Record.Date_of_Dismissal__c}),
            DAY({!$Record.Date_of_Dismissal__c})
        ),
    NULL
)</expression>
    </formulas>
    <formulas>
        <name>f_date_SOL_WD</name>
        <dataType>Date</dataType>
        <expression>{!$Record.litify_pm__Incident_date__c} + 730</expression>
    </formulas>
    <interviewLabel>Matter: after create/update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Matter: after create/update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_P35_Review_EC_81_7_Record</name>
        <label>Get P35: Review EC-81.7 Record</label>
        <locationX>242</locationX>
        <locationY>2939</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_P35</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P35: Review EC-81.7</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>litify_pm__Default_Matter_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WC_Attorney_Team_Queue</name>
        <label>Get WC Attorney Team Queue</label>
        <locationX>242</locationX>
        <locationY>8471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_A00_Initial_Client_Call_DMT_for_WC_Attorney_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WC Attorney Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Case</name>
        <label>Update Child Case</label>
        <locationX>242</locationX>
        <locationY>7271</locationY>
        <connector>
            <targetReference>Update_Principal_Attorney_on_Child_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Needles_Case_ID__c</field>
            <value>
                <elementReference>$Record.Parent_Matter__r.Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Child_Cases</name>
        <label>Update Child Cases</label>
        <locationX>242</locationX>
        <locationY>7571</locationY>
        <connector>
            <targetReference>New_PI_CR_desc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>litify_pm__Principal_Attorney__c</field>
            <value>
                <elementReference>$Record.litify_pm__Principal_Attorney__c</elementReference>
            </value>
        </inputAssignments>
        <object>litify_pm__Matter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contingency_Fee_Rate</name>
        <label>Update Contingency Fee Rate</label>
        <locationX>242</locationX>
        <locationY>7871</locationY>
        <connector>
            <targetReference>New_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>litify_pm__Contingency_Fee_Rate__c</field>
            <value>
                <numberValue>33.33333</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOL2</name>
        <label>Update SOL2</label>
        <locationX>242</locationX>
        <locationY>6971</locationY>
        <connector>
            <targetReference>Update_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Statute_of_Limitations_2__c</field>
            <value>
                <elementReference>f_date_SOL2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOL_CR</name>
        <label>Update SOL CR</label>
        <locationX>242</locationX>
        <locationY>6671</locationY>
        <connector>
            <targetReference>NOC_Statute_of_Limitations</targetReference>
        </connector>
        <inputAssignments>
            <field>litify_pm__Manual_Statute_of_Limitations__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Statute_Of_Limitations__c</field>
            <value>
                <elementReference>f_date_SOL_CR</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOL_WD</name>
        <label>Update SOL WD</label>
        <locationX>242</locationX>
        <locationY>6371</locationY>
        <connector>
            <targetReference>Civil_Rights_SOL</targetReference>
        </connector>
        <inputAssignments>
            <field>litify_pm__Manual_Statute_of_Limitations__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>litify_pm__Statute_Of_Limitations__c</field>
            <value>
                <elementReference>f_date_SOL_WD</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Date</name>
        <label>Update Stage Date</label>
        <locationX>242</locationX>
        <locationY>5771</locationY>
        <connector>
            <targetReference>Switch_Matter_Plan</targetReference>
        </connector>
        <inputAssignments>
            <field>Stage_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Status_to_N_A_AS</name>
        <label>Update Task Status to N/A</label>
        <locationX>242</locationX>
        <locationY>5171</locationY>
        <connector>
            <targetReference>WC_Case_Active_Stage_Closing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Matter_Stage_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Matter_Stage_Activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Matter_Stage_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Status_to_N_A_WC</name>
        <label>Update Task Status to N/A</label>
        <locationX>242</locationX>
        <locationY>5471</locationY>
        <connector>
            <targetReference>Matter_Stage_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>litify_pm__Matter__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Matter_Stage_Activity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>litify_pm__Matter_Stage_Activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.litify_pm__Matter_Stage_Activity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Run_Trigger</targetReference>
        </connector>
        <object>litify_pm__Matter__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opt_In</name>
        <label>Opt-In</label>
        <locationX>242</locationX>
        <locationY>8171</locationY>
        <connector>
            <targetReference>New_WC_Matter_not_Referred_by_Current_Client_Old_Case</targetReference>
        </connector>
        <flowName>SMS_Consent_Subflow</flowName>
        <inputAssignments>
            <name>varConsentStatus</name>
            <value>
                <stringValue>Opt-In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPhoneNumber</name>
            <value>
                <elementReference>$Record.litify_pm__Client__r.litify_pm__Phone_Mobile__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>sObj_col_Task_ActiveStage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
